{% extends "base.html" %}

{% block title %}Registro | {% endblock title%}

{% block contenido %}

<div class="col-lg-8 col-12 mt-3 mx-auto">
    <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
        <div class="d-flex">
            <div class="custom-block-topics-listing-info d-flex">
                <div>
                    <h2>Registrarme</h2>
                    <form method="POST" class="form-group">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Aceptar</button>
                    </form>
                    <br>
                    <p>Luego del registro, podrás agregar otros datos en tu perfil.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}