{% extends 'base.html' %}

{% block title %}Acerca de mí | {% endblock title %}

{% block contenido %}

<div class="col-lg-8 col-12 mt-3 mx-auto">
        <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
            <div class="d-flex">
                <div class="custom-block-topics-listing-info d-flex">
                    <div>
                        <h3>Acerca de mí</h3>
                        <p class="mb-2">Mi nombre es Tati Llaña, cree este blog con fines educativos, este es mi proyecto final del curso de programación con Python, de la academia Coderhouse. Esta página web fue realizada utilizando Django como framework.</p>
                        <p class="mb-2">En este blog encontrarás microrrelatos publicados por distintos usuarios, clasificados por categoría.</p>
                        <br>
                        <h3>¿Qué son los microrrelatos o microcuentos?</h3>
                        <p class="mb-2">Un microrrelato, también conocido como minicuento, minificción, microcuento o cuento brevísimo, es un tipo de texto narrativo extremadamente breve, generalmente de ficción, que condensa en pocas frases (a veces en pocas palabras) lo necesario para causar al lector una impresión estética.</p>
                    </div>
                </div>
            </div>
        </div>
</div>


{% endblock contenido %}